- if event = last_push_event
  - if show_last_push_widget?(event)
    .row-content-block.top-block.hidden-xs.white
      %div{ class: container_class }
        .event-last-push
          .event-last-push-text
            %span You pushed to
            = link_to namespace_project_commits_path(event.project.namespace, event.project, event.ref_name) do
              %strong= event.ref_name
            - if @project && event.project != @project
              %span at
              %strong= link_to_project event.project
            = clipboard_button(text: event.ref_name, class: 'btn-clipboard btn-transparent', title: 'Copy branch to clipboard')
            #{time_ago_with_tooltip(event.created_at)}

          .pull-right
            = link_to new_mr_path_from_push_event(event), title: "New Merge Request", class: "btn btn-info btn-sm" do
              Create Merge Request
